<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<bean id="bat" class="com.spring.app2.Battery">
  <property name="batteryId" value="10001"/>
  <property name="volt" value="12v"/>
</bean>
<bean id="rob" class="com.spring.app2.Robot">
 <constructor-arg value="12345"/>
 <constructor-arg ref="bat"/>
 </bean>
</beans> 
 